<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC
        "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>

    <!-- !!!! Driver Class Path !!!! -->
    <!--<classPathEntry location="/Users/zhouyang/mysql/mysql-connector-java-5.1.45-bin.jar"/>-->

    <context id="context" targetRuntime="MyBatis3">
        <commentGenerator>
            <property name="suppressAllComments" value="false"/>
            <property name="suppressDate" value="true"/>
        </commentGenerator>

        <!-- !!!! Database Configurations !!!! -->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://10.0.50.71:3306/xwsass"
                        userId="root" password="root">
            <property name="useInformationSchema" value="true"/>
        </jdbcConnection>

        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <!-- !!!! Model Configurations !!!! -->
        <javaModelGenerator targetPackage="cn.com.xinxin.sass.repository.model"
                            targetProject="src/main/java">
            <property name="enableSubPackages" value="false"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <!-- !!!! Mapper XML Configurations !!!! -->
        <sqlMapGenerator targetPackage="mapper" targetProject="src/main/resources">
            <property name="enableSubPackages" value="false"/>
        </sqlMapGenerator>

        <!-- !!!! Mapper Interface Configurations !!!! -->
        <javaClientGenerator targetPackage="cn.com.xinxin.sass.repository.dao"
                             targetProject="src/main/java" type="XMLMAPPER">
            <property name="enableSubPackages" value="false"/>
        </javaClientGenerator>

        <!-- !!!! Table Configurations !!!! -->
        <!--<table tableName="role" enableCountByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
               <!--enableUpdateByExample="false"/>-->

        <!--<table tableName="audit" enableCountByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
               <!--enableUpdateByExample="false">-->
            <!--<generatedKey column="ID" sqlStatement="MySQL" identity="true"/>-->
        <!--</table>-->
        <!--<table tableName="organization" enableCountByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
               <!--enableUpdateByExample="false">-->
            <!--<generatedKey column="ID" sqlStatement="MySQL" identity="true"/>-->
        <!--</table>-->
        <!--<table tableName="resource" enableCountByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
               <!--enableUpdateByExample="false">-->
            <!--<generatedKey column="ID" sqlStatement="MySQL" identity="true"/>-->
        <!--</table>-->
        <!--<table tableName="role_resource" enableCountByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
               <!--enableUpdateByExample="false">-->
            <!--<generatedKey column="ID" sqlStatement="MySQL" identity="true"/>-->
        <!--</table>-->
        <!--<table tableName="user_role" enableCountByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
               <!--enableUpdateByExample="false">-->
            <!--<generatedKey column="ID" sqlStatement="MySQL" identity="true"/>-->
        <!--</table>-->
        <!--<table tableName="account" enableCountByExample="false" enableDeleteByExample="false" enableSelectByExample="false"
               enableUpdateByExample="false">
            <generatedKey column="ID" sqlStatement="MySQL" identity="true"/>
        </table>-->
        <!--<table tableName="org_base_info" domainObjectNaTenantBaseInfoDOfoDO" enableCountByExample="false"
               enableDeleteByExample="false" enableSelectByExample="false" enableUpdateByExample="false"/>
        <table tableName="org_data_sync_config" domainObjectNaTenantDataSyncConfigDOigDO" enableCountByExample="false"
               enableDeleteByExample="false" enableSelectByExample="false" enableUpdateByExample="false"/>
        <table tableName="org_data_sync_log" domainObjectNaTenantDataSyncLogDOogDO" enableCountByExample="false"
               enableDeleteByExample="false" enableSelectByExample="false" enableUpdateByExample="false"/>
        <table tableName="org_data_sync_excp" domainObjectNaTenantDataSyncExcpDOcpDO" enableCountByExample="false"
               enableDeleteByExample="false" enableSelectByExample="false" enableUpdateByExample="false"/>
        <table tableName="department_received" domainObjectName="DepartmentReceivedDO" enableCountByExample="false"
               enableDeleteByExample="false" enableSelectByExample="false" enableUpdateByExample="false"/>
        <table tableName="department" domainObjectName="DepartmentDO" enableCountByExample="false"
               enableDeleteByExample="false" enableSelectByExample="false" enableUpdateByExample="false"/>
        <table tableName="member_received" domainObjectName="MemberReceivedDO" enableCountByExample="false"
               enableDeleteByExample="false" enableSelectByExample="false" enableUpdateByExample="false"/>
        <table tableName="member" domainObjectName="MemberDO" enableCountByExample="false"
               enableDeleteByExample="false" enableSelectByExample="false" enableUpdateByExample="false"/>-->
        <!--<table tableName="customer_received" domainObjectName="CustomerReceivedDO" enableCountByExample="false"
               enableDeleteByExample="false" enableSelectByExample="false" enableUpdateByExample="false"/>-->
        <!--<table tableName="customer" domainObjectName="CustomerDO" enableCountByExample="false"
               enableDeleteByExample="false" enableSelectByExample="false" enableUpdateByExample="false"/>-->
        <!--<table tableName="msg_record" domainObjectName="MsgRecordDO" enableCountByExample="false"
               enableDeleteByExample="false" enableSelectByExample="false" enableUpdateByExample="false"/>-->


        <!--&lt;!&ndash; !!!! Table Configurations !!!! &ndash;&gt;-->
        <!--<table tableName="tags" enableCountByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
        <!--enableUpdateByExample="false"/>-->

        <!--<table tableName="tags_relations" enableCountByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
               <!--enableUpdateByExample="false"/>-->
        <!--<table tableName="oplog" enableCountByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
        <!--enableUpdateByExample="false"/>-->
        <!--<table tableName="user_org" enableCountByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
        <!--enableUpdateByExample="false"/>-->
        <!--<table tableName="group_chat" domainObjectName="GroupChatDO" enableCountByExample="false"
               enableDeleteByExample="false" enableSelectByExample="false" enableUpdateByExample="false"/>-->

    </context>
</generatorConfiguration>