<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~
  ~ Copyright 2020 www.xinxindigits.com
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy of this software
  ~ and associated documentation files (the "Software"),to deal in the Software without restriction,
  ~ including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense,
  ~ and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so,
  ~ subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice
  ~ shall be included in all copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
  ~ INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
  ~ PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
  ~ HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
  ~ WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  ~ OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
  ~
  ~ Redistribution and selling copies of the software are prohibited, only if the authorization from xinxin digits
  ~ was obtained.Neither the name of the xinxin digits; nor the names of its contributors may be used to
  ~ endorse or promote products derived from this software without specific prior written permission.
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.xinxin.sass.repository.dao.CustomerReceivedDOMapper">
  <resultMap id="BaseResultMap" type="cn.com.xinxin.sass.repository.model.CustomerReceivedDO">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="task_id" jdbcType="VARCHAR" property="taskId" />
    <result column="tenant_id" jdbcType="VARCHAR" property="tenantId" />
    <result column="member_user_id" jdbcType="VARCHAR" property="memberUserId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="customer_name" jdbcType="VARCHAR" property="customerName" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="customer_type" jdbcType="INTEGER" property="customerType" />
    <result column="gender" jdbcType="INTEGER" property="gender" />
    <result column="union_id" jdbcType="VARCHAR" property="unionId" />
    <result column="customer_position" jdbcType="VARCHAR" property="customerPosition" />
    <result column="corp_name" jdbcType="VARCHAR" property="corpName" />
    <result column="corp_full_name" jdbcType="VARCHAR" property="corpFullName" />
    <result column="external_profile" jdbcType="LONGVARCHAR" property="externalProfile" />
    <result column="follow_user" jdbcType="LONGVARCHAR" property="followUser" />
    <result column="extension" jdbcType="VARCHAR" property="extension" />
    <result column="gmt_created" jdbcType="TIMESTAMP" property="gmtCreated" />
    <result column="gmt_creator" jdbcType="VARCHAR" property="gmtCreator" />
    <result column="gmt_updated" jdbcType="TIMESTAMP" property="gmtUpdated" />
    <result column="gmt_updater" jdbcType="VARCHAR" property="gmtUpdater" />
    <result column="deleted" jdbcType="TINYINT" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    id, task_id, tenant_id, member_user_id, user_id, customer_name, avatar, customer_type, gender, union_id,
    customer_position, corp_name, corp_full_name, external_profile, follow_user, extension, 
    gmt_created, gmt_creator, gmt_updated, gmt_updater, deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select 
    <include refid="Base_Column_List" />
    from customer_received
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    delete from customer_received
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.com.xinxin.sass.repository.model.CustomerReceivedDO">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into customer_received (id, task_id, tenant_id,
      member_user_id, user_id, customer_name, avatar,
      customer_type, gender, union_id, 
      customer_position, corp_name, corp_full_name, 
      external_profile, follow_user, extension, 
      gmt_created, gmt_creator, gmt_updated, 
      gmt_updater, deleted)
    values (#{id,jdbcType=BIGINT}, #{taskId,jdbcType=VARCHAR}, #{tenantId,jdbcType=VARCHAR},
      #{memberUserId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{customerName,jdbcType=VARCHAR},
      #{avatar,jdbcType=VARCHAR},
      #{customerType,jdbcType=INTEGER}, #{gender,jdbcType=INTEGER}, #{unionId,jdbcType=VARCHAR}, 
      #{customerPosition,jdbcType=VARCHAR}, #{corpName,jdbcType=VARCHAR}, #{corpFullName,jdbcType=VARCHAR}, 
      #{externalProfile,jdbcType=LONGVARCHAR}, #{followUser,jdbcType=LONGVARCHAR}, #{extension,jdbcType=VARCHAR},
      #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtCreator,jdbcType=VARCHAR}, #{gmtUpdated,jdbcType=TIMESTAMP}, 
      #{gmtUpdater,jdbcType=VARCHAR}, #{deleted,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.xinxin.sass.repository.model.CustomerReceivedDO">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into customer_received
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="taskId != null">
        task_id,
      </if>
      <if test="tenantId != null">
        tenant_id,
      </if>
      <if test="memberUserId != null">
        member_user_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="customerName != null">
        customer_name,
      </if>
      <if test="avatar != null">
        avatar,
      </if>
      <if test="customerType != null">
        customer_type,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="unionId != null">
        union_id,
      </if>
      <if test="customerPosition != null">
        customer_position,
      </if>
      <if test="corpName != null">
        corp_name,
      </if>
      <if test="corpFullName != null">
        corp_full_name,
      </if>
      <if test="externalProfile != null">
        external_profile,
      </if>
      <if test="followUser != null">
        follow_user,
      </if>
      <if test="extension != null">
        extension,
      </if>
      <if test="gmtCreated != null">
        gmt_created,
      </if>
      <if test="gmtCreator != null">
        gmt_creator,
      </if>
      <if test="gmtUpdated != null">
        gmt_updated,
      </if>
      <if test="gmtUpdater != null">
        gmt_updater,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="taskId != null">
        #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null">
        #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="memberUserId != null">
        #{memberUserId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null">
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="customerType != null">
        #{customerType,jdbcType=INTEGER},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=INTEGER},
      </if>
      <if test="unionId != null">
        #{unionId,jdbcType=VARCHAR},
      </if>
      <if test="customerPosition != null">
        #{customerPosition,jdbcType=VARCHAR},
      </if>
      <if test="corpName != null">
        #{corpName,jdbcType=VARCHAR},
      </if>
      <if test="corpFullName != null">
        #{corpFullName,jdbcType=VARCHAR},
      </if>
      <if test="externalProfile != null">
        #{externalProfile,jdbcType=LONGVARCHAR},
      </if>
      <if test="followUser != null">
        #{followUser,jdbcType=LONGVARCHAR},
      </if>
      <if test="extension != null">
        #{extension,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null">
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreator != null">
        #{gmtCreator,jdbcType=VARCHAR},
      </if>
      <if test="gmtUpdated != null">
        #{gmtUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtUpdater != null">
        #{gmtUpdater,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.xinxin.sass.repository.model.CustomerReceivedDO">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update customer_received
    <set>
      <if test="taskId != null">
        task_id = #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null">
        tenant_id = #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="memberUserId != null">
        member_user_id = #{memberUserId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null">
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="customerType != null">
        customer_type = #{customerType,jdbcType=INTEGER},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=INTEGER},
      </if>
      <if test="unionId != null">
        union_id = #{unionId,jdbcType=VARCHAR},
      </if>
      <if test="customerPosition != null">
        customer_position = #{customerPosition,jdbcType=VARCHAR},
      </if>
      <if test="corpName != null">
        corp_name = #{corpName,jdbcType=VARCHAR},
      </if>
      <if test="corpFullName != null">
        corp_full_name = #{corpFullName,jdbcType=VARCHAR},
      </if>
      <if test="externalProfile != null">
        external_profile = #{externalProfile,jdbcType=LONGVARCHAR},
      </if>
      <if test="followUser != null">
        follow_user = #{followUser,jdbcType=LONGVARCHAR},
      </if>
      <if test="extension != null">
        extension = #{extension,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null">
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreator != null">
        gmt_creator = #{gmtCreator,jdbcType=VARCHAR},
      </if>
      <if test="gmtUpdated != null">
        gmt_updated = #{gmtUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtUpdater != null">
        gmt_updater = #{gmtUpdater,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.xinxin.sass.repository.model.CustomerReceivedDO">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update customer_received
    set task_id = #{taskId,jdbcType=VARCHAR},
      tenant_id = #{tenantId,jdbcType=VARCHAR},
      member_user_id = #{memberUserId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      customer_name = #{customerName,jdbcType=VARCHAR},
      avatar = #{avatar,jdbcType=VARCHAR},
      customer_type = #{customerType,jdbcType=INTEGER},
      gender = #{gender,jdbcType=INTEGER},
      union_id = #{unionId,jdbcType=VARCHAR},
      customer_position = #{customerPosition,jdbcType=VARCHAR},
      corp_name = #{corpName,jdbcType=VARCHAR},
      corp_full_name = #{corpFullName,jdbcType=VARCHAR},
      external_profile = #{externalProfile,jdbcType=LONGVARCHAR},
      follow_user = #{followUser,jdbcType=LONGVARCHAR},
      extension = #{extension,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_creator = #{gmtCreator,jdbcType=VARCHAR},
      gmt_updated = #{gmtUpdated,jdbcType=TIMESTAMP},
      gmt_updater = #{gmtUpdater,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>