<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~
  ~ Copyright 2020 www.xinxindigits.com
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy of this software
  ~ and associated documentation files (the "Software"),to deal in the Software without restriction,
  ~ including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense,
  ~ and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so,
  ~ subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice
  ~ shall be included in all copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
  ~ INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
  ~ PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
  ~ HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
  ~ WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  ~ OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
  ~
  ~ Redistribution and selling copies of the software are prohibited, only if the authorization from xinxin digits
  ~ was obtained.Neither the name of the xinxin digits; nor the names of its contributors may be used to
  ~ endorse or promote products derived from this software without specific prior written permission.
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.xinxin.sass.repository.dao.TenantDataSyncLogDOMapper">
  <resultMap id="BaseResultMap" type="cn.com.xinxin.sass.repository.model.TenantDataSyncLogDO">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="task_id" jdbcType="VARCHAR" property="taskId" />
    <result column="tenant_id" jdbcType="VARCHAR" property="tenantId" />
    <result column="task_type" jdbcType="VARCHAR" property="taskType" />
    <result column="task_date" jdbcType="VARCHAR" property="taskDate" />
    <result column="task_time" jdbcType="VARCHAR" property="taskTime" />
    <result column="message_count" jdbcType="INTEGER" property="messageCount" />
    <result column="department_count" jdbcType="INTEGER" property="departmentCount" />
    <result column="member_count" jdbcType="INTEGER" property="memberCount" />
    <result column="customer_count" jdbcType="INTEGER" property="customerCount" />
    <result column="task_status" jdbcType="VARCHAR" property="taskStatus" />
    <result column="error_code" jdbcType="VARCHAR" property="errorCode" />
    <result column="error_desc" jdbcType="VARCHAR" property="errorDesc" />
    <result column="extension" jdbcType="VARCHAR" property="extension" />
    <result column="gmt_created" jdbcType="TIMESTAMP" property="gmtCreated" />
    <result column="gmt_creator" jdbcType="VARCHAR" property="gmtCreator" />
    <result column="gmt_updated" jdbcType="TIMESTAMP" property="gmtUpdated" />
    <result column="gmt_updater" jdbcType="VARCHAR" property="gmtUpdater" />
    <result column="deleted" jdbcType="TINYINT" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    id, task_id, tenant_id, task_type, task_date, task_time, message_count, department_count, 
    member_count, customer_count, task_status, error_code, error_desc, extension, gmt_created, 
    gmt_creator, gmt_updated, gmt_updater, deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select 
    <include refid="Base_Column_List" />
    from tenant_sync_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    delete from tenant_sync_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.com.xinxin.sass.repository.model.TenantDataSyncLogDO">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into tenant_sync_log (id, task_id, tenant_id, 
      task_type, task_date, task_time, 
      message_count, department_count, member_count, 
      customer_count, task_status, error_code, 
      error_desc, extension, gmt_created, 
      gmt_creator, gmt_updated, gmt_updater, 
      deleted)
    values (#{id,jdbcType=BIGINT}, #{taskId,jdbcType=VARCHAR}, #{tenantId,jdbcType=VARCHAR},
      #{taskType,jdbcType=VARCHAR}, #{taskDate,jdbcType=VARCHAR}, #{taskTime,jdbcType=VARCHAR}, 
      #{messageCount,jdbcType=INTEGER}, #{departmentCount,jdbcType=INTEGER}, #{memberCount,jdbcType=INTEGER}, 
      #{customerCount,jdbcType=INTEGER}, #{taskStatus,jdbcType=VARCHAR}, #{errorCode,jdbcType=VARCHAR}, 
      #{errorDesc,jdbcType=VARCHAR}, #{extension,jdbcType=VARCHAR}, #{gmtCreated,jdbcType=TIMESTAMP}, 
      #{gmtCreator,jdbcType=VARCHAR}, #{gmtUpdated,jdbcType=TIMESTAMP}, #{gmtUpdater,jdbcType=VARCHAR}, 
      #{deleted,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.xinxin.sass.repository.model.TenantDataSyncLogDO">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into tenant_sync_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="taskId != null">
        task_id,
      </if>
      <if test="tenantId != null">
        tenant_id,
      </if>
      <if test="taskType != null">
        task_type,
      </if>
      <if test="taskDate != null">
        task_date,
      </if>
      <if test="taskTime != null">
        task_time,
      </if>
      <if test="messageCount != null">
        message_count,
      </if>
      <if test="departmentCount != null">
        department_count,
      </if>
      <if test="memberCount != null">
        member_count,
      </if>
      <if test="customerCount != null">
        customer_count,
      </if>
      <if test="taskStatus != null">
        task_status,
      </if>
      <if test="errorCode != null">
        error_code,
      </if>
      <if test="errorDesc != null">
        error_desc,
      </if>
      <if test="extension != null">
        extension,
      </if>
      <if test="gmtCreated != null">
        gmt_created,
      </if>
      <if test="gmtCreator != null">
        gmt_creator,
      </if>
      <if test="gmtUpdated != null">
        gmt_updated,
      </if>
      <if test="gmtUpdater != null">
        gmt_updater,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="taskId != null">
        #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null">
        #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="taskType != null">
        #{taskType,jdbcType=VARCHAR},
      </if>
      <if test="taskDate != null">
        #{taskDate,jdbcType=VARCHAR},
      </if>
      <if test="taskTime != null">
        #{taskTime,jdbcType=VARCHAR},
      </if>
      <if test="messageCount != null">
        #{messageCount,jdbcType=INTEGER},
      </if>
      <if test="departmentCount != null">
        #{departmentCount,jdbcType=INTEGER},
      </if>
      <if test="memberCount != null">
        #{memberCount,jdbcType=INTEGER},
      </if>
      <if test="customerCount != null">
        #{customerCount,jdbcType=INTEGER},
      </if>
      <if test="taskStatus != null">
        #{taskStatus,jdbcType=VARCHAR},
      </if>
      <if test="errorCode != null">
        #{errorCode,jdbcType=VARCHAR},
      </if>
      <if test="errorDesc != null">
        #{errorDesc,jdbcType=VARCHAR},
      </if>
      <if test="extension != null">
        #{extension,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null">
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreator != null">
        #{gmtCreator,jdbcType=VARCHAR},
      </if>
      <if test="gmtUpdated != null">
        #{gmtUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtUpdater != null">
        #{gmtUpdater,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.xinxin.sass.repository.model.TenantDataSyncLogDO">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update tenant_sync_log
    <set>
      <if test="taskId != null">
        task_id = #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null">
        tenant_id = #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="taskType != null">
        task_type = #{taskType,jdbcType=VARCHAR},
      </if>
      <if test="taskDate != null">
        task_date = #{taskDate,jdbcType=VARCHAR},
      </if>
      <if test="taskTime != null">
        task_time = #{taskTime,jdbcType=VARCHAR},
      </if>
      <if test="messageCount != null">
        message_count = #{messageCount,jdbcType=INTEGER},
      </if>
      <if test="departmentCount != null">
        department_count = #{departmentCount,jdbcType=INTEGER},
      </if>
      <if test="memberCount != null">
        member_count = #{memberCount,jdbcType=INTEGER},
      </if>
      <if test="customerCount != null">
        customer_count = #{customerCount,jdbcType=INTEGER},
      </if>
      <if test="taskStatus != null">
        task_status = #{taskStatus,jdbcType=VARCHAR},
      </if>
      <if test="errorCode != null">
        error_code = #{errorCode,jdbcType=VARCHAR},
      </if>
      <if test="errorDesc != null">
        error_desc = #{errorDesc,jdbcType=VARCHAR},
      </if>
      <if test="extension != null">
        extension = #{extension,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null">
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreator != null">
        gmt_creator = #{gmtCreator,jdbcType=VARCHAR},
      </if>
      <if test="gmtUpdated != null">
        gmt_updated = #{gmtUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtUpdater != null">
        gmt_updater = #{gmtUpdater,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.xinxin.sass.repository.model.TenantDataSyncLogDO">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update tenant_sync_log
    set task_id = #{taskId,jdbcType=VARCHAR},
      tenant_id = #{tenantId,jdbcType=VARCHAR},
      task_type = #{taskType,jdbcType=VARCHAR},
      task_date = #{taskDate,jdbcType=VARCHAR},
      task_time = #{taskTime,jdbcType=VARCHAR},
      message_count = #{messageCount,jdbcType=INTEGER},
      department_count = #{departmentCount,jdbcType=INTEGER},
      member_count = #{memberCount,jdbcType=INTEGER},
      customer_count = #{customerCount,jdbcType=INTEGER},
      task_status = #{taskStatus,jdbcType=VARCHAR},
      error_code = #{errorCode,jdbcType=VARCHAR},
      error_desc = #{errorDesc,jdbcType=VARCHAR},
      extension = #{extension,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_creator = #{gmtCreator,jdbcType=VARCHAR},
      gmt_updated = #{gmtUpdated,jdbcType=TIMESTAMP},
      gmt_updater = #{gmtUpdater,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>