<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/aop   http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.xinxinfinance.commons"/>

    <!-- updauthsion -->
    <bean id="sessionInterceptor" class="cn.com.xinxin.sass.auth.interceptor.SessionInterceptor"/>

    <aop:config>
        <aop:pointcut id="controllerPointcut" expression="execution(public * cn.com.xinxin.*.web.controller..*.*(..))"/>
        <aop:advisor pointcut-ref="controllerPointcut" advice-ref="sessionInterceptor" order="1"/>
    </aop:config>

</beans>