<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.xinxin.sass.repository.dao.CustomerReceivedDOMapper">
    <resultMap id="BaseResultMapExt" type="cn.com.xinxin.sass.repository.model.CustomerReceivedDO">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="task_id" jdbcType="VARCHAR" property="taskId" />
        <result column="org_id" jdbcType="VARCHAR" property="orgId" />
        <result column="member_user_id" jdbcType="VARCHAR" property="memberUserId" />
        <result column="user_id" jdbcType="VARCHAR" property="userId" />
        <result column="customer_name" jdbcType="VARCHAR" property="customerName" />
        <result column="avatar" jdbcType="VARCHAR" property="avatar" />
        <result column="customer_type" jdbcType="INTEGER" property="customerType" />
        <result column="gender" jdbcType="INTEGER" property="gender" />
        <result column="union_id" jdbcType="VARCHAR" property="unionId" />
        <result column="customer_position" jdbcType="VARCHAR" property="customerPosition" />
        <result column="corp_name" jdbcType="VARCHAR" property="corpName" />
        <result column="corp_full_name" jdbcType="VARCHAR" property="corpFullName" />
        <result column="external_profile" jdbcType="LONGVARCHAR" property="externalProfile" />
        <result column="follow_user" jdbcType="LONGVARCHAR" property="followUser" />
        <result column="extension" jdbcType="VARCHAR" property="extension" />
        <result column="gmt_created" jdbcType="TIMESTAMP" property="gmtCreated" />
        <result column="gmt_creator" jdbcType="VARCHAR" property="gmtCreator" />
        <result column="gmt_updated" jdbcType="TIMESTAMP" property="gmtUpdated" />
        <result column="gmt_updater" jdbcType="VARCHAR" property="gmtUpdater" />
        <result column="deleted" jdbcType="TINYINT" property="deleted" />
    </resultMap>
    <sql id="Base_Column_List_Ext">
    id, task_id, org_id, member_user_id, user_id, customer_name, avatar, customer_type, gender, union_id,
    customer_position, corp_name, corp_full_name, external_profile, follow_user, extension, 
    gmt_created, gmt_creator, gmt_updated, gmt_updater, deleted
  </sql>

    <insert id="insertBatch" parameterType="java.util.List">
        insert into customer_received (task_id, org_id, member_user_id,
        user_id, customer_name, avatar,
        customer_type, gender, union_id,
        customer_position, corp_name, corp_full_name,
        external_profile, follow_user, extension,
        gmt_created, gmt_creator, gmt_updated,
        gmt_updater)
        values
        <foreach collection="customerReceivedDOS" item="item" index="index" separator=",">
            (#{item.taskId,jdbcType=VARCHAR}, #{item.orgId,jdbcType=VARCHAR}, #{item.memberUserId,jdbcType=VARCHAR},
            #{item.userId,jdbcType=VARCHAR}, #{item.customerName,jdbcType=VARCHAR}, #{item.avatar,jdbcType=VARCHAR},
            #{item.customerType,jdbcType=INTEGER}, #{item.gender,jdbcType=INTEGER}, #{item.unionId,jdbcType=VARCHAR},
            #{item.customerPosition,jdbcType=VARCHAR}, #{item.corpName,jdbcType=VARCHAR},
            #{item.corpFullName,jdbcType=VARCHAR},
            #{item.externalProfile,jdbcType=VARCHAR}, #{item.followUser,jdbcType=VARCHAR},
            #{item.extension,jdbcType=VARCHAR},
            #{item.gmtCreated,jdbcType=TIMESTAMP}, #{item.gmtCreator,jdbcType=VARCHAR},
            #{item.gmtUpdated,jdbcType=TIMESTAMP},
            #{item.gmtUpdater,jdbcType=VARCHAR})
        </foreach>
    </insert>

    <select id="selectByTaskIdMemberUserIdS" resultMap="BaseResultMapExt">
        select <include refid="Base_Column_List_Ext"/>
        from customer_received
        where task_id = #{taskId} and member_user_id in
        <foreach collection="memberUserIdS" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
        and id <![CDATA[>]]> #{startId}
        and deleted = 0
        order by id
        limit #{pageSize}
    </select>

</mapper>