<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~
  ~ Copyright 2020 www.xinxindigits.com
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy of this software
  ~ and associated documentation files (the "Software"),to deal in the Software without restriction,
  ~ including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense,
  ~ and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so,
  ~ subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice
  ~ shall be included in all copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
  ~ INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
  ~ PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
  ~ HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
  ~ WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  ~ OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
  ~
  ~ Redistribution and selling copies of the software are prohibited, only if the authorization from xinxin digits
  ~ was obtained.Neither the name of the xinxin digits; nor the names of its contributors may be used to
  ~ endorse or promote products derived from this software without specific prior written permission.
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.xinxin.sass.repository.dao.TenantBaseInfoDOMapper">
  <resultMap id="BaseResultMapExt" type="cn.com.xinxin.sass.repository.model.TenantBaseInfoDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="tenant_id" jdbcType="VARCHAR" property="tenantId" />
    <result column="tenant_name" jdbcType="VARCHAR" property="tenantName" />
    <result column="corp_id" jdbcType="VARCHAR" property="corpId" />
    <result column="address_list_secret" jdbcType="VARCHAR" property="addressListSecret" />
    <result column="chat_record_secret" jdbcType="VARCHAR" property="chatRecordSecret" />
    <result column="customer_contact_secret" jdbcType="VARCHAR" property="customerContactSecret" />
    <result column="private_key" jdbcType="VARCHAR" property="privateKey" />
    <result column="extension" jdbcType="VARCHAR" property="extension" />
    <result column="gmt_created" jdbcType="TIMESTAMP" property="gmtCreated" />
    <result column="gmt_creator" jdbcType="VARCHAR" property="gmtCreator" />
    <result column="gmt_updated" jdbcType="TIMESTAMP" property="gmtUpdated" />
    <result column="gmt_updater" jdbcType="VARCHAR" property="gmtUpdater" />
    <result column="deleted" jdbcType="TINYINT" property="deleted" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List_Ext">
    id, tenant_id, tenant_name, corp_id, address_list_secret, chat_record_secret, customer_contact_secret, 
    private_key, extension, gmt_created, gmt_creator, gmt_updated, gmt_updater, deleted,
    state, remark
  </sql>

  <select id="selectByTenantId" parameterType="java.lang.String" resultMap="BaseResultMapExt">
    select <include refid="Base_Column_List_Ext"/>
    from tenant
    where tenant_id = #{tenantId} and deleted = '0'
  </select>

  <update id="updateByOrgIdSelective" parameterType="cn.com.xinxin.sass.repository.model.TenantBaseInfoDO">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update tenant
    <set>
      <if test="tenantName != null">
        tenant_name = #{tenantName,jdbcType=VARCHAR},
      </if>
      <if test="corpId != null">
        corp_id = #{corpId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="addressListSecret != null">
        address_list_secret = #{addressListSecret,jdbcType=VARCHAR},
      </if>
      <if test="customerContactSecret != null">
        customer_contact_secret = #{customerContactSecret,jdbcType=VARCHAR},
      </if>
      <if test="chatRecordSecret != null">
        chat_record_secret = #{chatRecordSecret,jdbcType=VARCHAR},
      </if>
      <if test="privateKey != null">
        private_key = #{privateKey,jdbcType=VARCHAR},
      </if>
      <if test="extension != null">
        extension = #{extension,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null">
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreator != null">
        gmt_creator = #{gmtCreator,jdbcType=VARCHAR},
      </if>
      <if test="gmtUpdated != null">
        gmt_updated = #{gmtUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtUpdater != null">
        gmt_updater = #{gmtUpdater,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=TINYINT},
      </if>
    </set>
    where tenant_id = #{tenantId,jdbcType=VARCHAR}
  </update>

  <delete id="deleteByCodes" parameterType="java.util.List">
    delete from tenant
    where tenant_id in
    <foreach collection="codes" index="index" item="item" separator="," open="(" close=")">
      #{item}
    </foreach>
  </delete>


  <select id="listAlltenants" parameterType="java.lang.String" resultMap="BaseResultMapExt">
    select <include refid="Base_Column_List_Ext"/>
    from tenant
    where  deleted = '0'
  </select>

  <select id="findByCondition" parameterType="cn.com.xinxin.sass.repository.model.TenantBaseInfoDO" resultMap="BaseResultMapExt">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select <include refid="Base_Column_List_Ext"/> from tenant
      <where>
        <if test="condition.tenantId !=null and condition.tenantId != ''">
          and tenant_id like concat('%',#{condition.tenantId,jdbcType=VARCHAR},'%')
        </if>
        <if test="condition.tenantName != null and condition.tenantName != ''">
          and tenant_name like concat('%',#{condition.tenantName,jdbcType=VARCHAR},'%')
        </if>
        <if test="condition.state != null and condition.state != ''">
          and state = #{condition.state,jdbcType=VARCHAR}
        </if>
        and deleted = '0'
      </where>
      order by gmt_created desc
  </select>

  <select id="selectByCorpId" parameterType="java.lang.String" resultMap="BaseResultMapExt">
    select <include refid="Base_Column_List_Ext"/>
    from tenant
    where corp_id = #{corpId,jdbcType=VARCHAR} and deleted = '0';
  </select>



</mapper>