<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
           http://code.alibabatech.com/schema/dubbo    http://code.alibabatech.com/schema/dubbo/dubbo.xsd
       ">

    <dubbo:application name="${dubbo.application.name}"/>
    <dubbo:annotation package="cn.com.xinxin.example"/>
    <dubbo:protocol name="dubbo" port="${dubbo.protocol.port}" host="${dubbo.protocol.host}"/>

    <dubbo:registry address="${dubbo.registry.address}" client="curator"/>

    <!--<dubbo:registry id="second" address="${second.dubbo.registry.address}" client="curator" default="false"/>-->

    <dubbo:consumer check="false" lazy="true"/>

    <import resource="classpath:spring-dubbo-api.xml"/>
    <import resource="classpath:spring-dubbo-ref.xml"/>

</beans>