<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <!--数据源引用指向，包含集群所需的所有表-->
        <property name="dataSource">
            <ref bean="dataSource"/>
        </property>
        <property name="autoStartup" value="true"/>
        <property name="overwriteExistingJobs" value="true"/>
        <property name="startupDelay" value="1"/>
        <property name="configLocation" value="classpath:quartz.properties"/>
    </bean>

</beans>